<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand"><i class="fas fa-tasks"></i> {{title}}</span>
        </div>
    </div>
</nav>

<div class="col-md-10 col-md-offset-1">
    <div class="input-group">
        <input type="text" class="form-control" ng-keydown="$event.keyCode === 13 && instance.name && add()" ng-model="instance.name" placeholder="New Task...">
        <span class="input-group-btn">
            <button class="btn btn-default" ng- ng-click="add()" ng-disabled="showButton()" type="button">Add</button>
        </span>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td><i class="far fa-check-square"></i></td>
                <td><i class="far fa-list-alt"></i></td>
                <td><i class="far fa-clock"></i></td>
                <td><i class="fas fa-hashtag"></i></td>
                <td><i class="fas fa-trash-alt"></i></td>
            </tr>
        </thead>
        <tr ng-show="showEmpty()">
            <td colspan="5">Empty</td>
        </tr>
        <tr ng-repeat="t in tasks">
            <td ng-click="updateDone(t)"><i class="{{t.done ? 'far fa-check-square' : 'far fa-square'}}"></i></td>
            <td ng-style = "t.done ? {'text-decoration':'line-through'} : {}">{{t.name}}</td>
            <td><span class="label label-primary">{{formatDate(t.date)}}</span></td>
            <td><span class="label label-primary">{{t._id}}</span></td>
            <td>
                <i class="fas fa-trash-alt"
                   mwl-confirm
                   title="¿Desea borrar la tarea?"
                   message=""
                   confirm-text="<i class='fas fa-check'></i> Si"
                   cancel-text="<i class='fas fa-times'></i> No"
                   placement="top"
                   on-confirm="remove(t._id)"
                   confirm-button-type="success"
                   cancel-button-type="danger">
                </i>
            </td>
        </tr>
    </table>
</div>